@import "../../styles/global.scss";

#Roadmap {
  .titleRoadMap {
    display: flex;
    justify-content: flex-start;
    color: $navy;
    font-family: Manrope;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 66px;
    font-weight: 800;
    margin-right: 10px;
    text-shadow: 0.5px 1px 2px $black;
    margin: 5vh auto;
  }

  .sectionRoadMap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include xs {
      padding: 30px;
    }
  }

  .roadMapDescription {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 15vw;

    @include xs {
      width: 5vw;
      margin-top: 4vh;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .roadMapDescriptionText {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 633px;
    justify-content: flex-end;

    @include xs {
      margin-top: 4vh;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .titleRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .barProgress {
    margin-top: 3vh;
    margin-bottom: 1vh;
    width: 100%;
    max-width: 50vw;
  }

  .statusProgress {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: $grayDark;
  }

  .roadMapLine {
    margin-top: 2vh;

    @include xs {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}
