@import "../../styles/global.scss";

#Hero {
  background: $navy;
  display: flex;
  justify-content: space-between;
  font-family: Manrope;
  color: $white;
  padding-left: 2vw;

  @include xs {
    height: 40vh;
  }

  .callToAction {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    @include xs {
      width: 100vw;
      background: url("../../assets/imgs/latam.svg") no-repeat;
      background-size: contain;
      background-position-y: 0vw;
      background-position-x: 50vw;
    }
  }

  .latamImage {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    width: 50vw;
  }

  .title {
    font-family: Manrope;
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 1px 1px 2px $black;

    @include xs {
      font-size: 32px;
    }
  }

  .subtitle {
    font-family: Manrope;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 45px;
    text-shadow: 1px 1px 2px $black;

    @include xs {
      font-size: 18px;
      line-height: 25px;
    }
  }

  .buttonArea {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5vh;
  }

  .actionButton {
    color: $white;
    font-family: Manrope;
    font-weight: 800;
    text-transform: uppercase;
    padding: 1vw 3vw;
    margin-right: 2vw;
    border-radius: 10px;
  }

  .explorerButton {
    font-family: Manrope;
    font-weight: 800;
    text-transform: uppercase;
    background: $white;
    color: $green;
    padding: 1vw 3vw;
    border-radius: 10px;
  }

  .explorerButton :hover {
    background: $grayHover;
  }
}

.subFooter {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  @include xs {
    margin-top: -2px;
  }
}
