@import "../../styles/global.scss";

#Waiting {
  display: flex;
  flex-direction: column;
  font-family: Manrope;
  color: $white;
  padding-left: 2vw;

  .columnItems {
    display: flex;
    justify-content: center; 
    flex-direction: column;
  }

  .title {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
  }

  .subtitle {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 16px;
  }

  .areaButton {
    display: flex;
    justify-content: center;
  }

  .actionButton {
    margin-top: 20px;
    color: $black;
    font-weight: 800;
    text-transform: uppercase;
    padding: 10px 50px;
    margin-right: 2vw;
    border-radius: 10px;
    background: $white;
    // width: 300px;
  }
}
