@import "../../styles/global.scss";

#Header {
  height: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  color: $white;
  padding-top: 1vh;

  @include xs {
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbarBrand {
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headerList {
    display: flex;
    flex-direction: column;
    margin: 2vw;
  }

  .navbarLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;

    span {
      margin: 5px;
    }
  }

  .navbarTools {
    color: $white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
  }

  .navbarButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

   .btnLinks {
    color: $white;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
  } 
}

#langMenu {
  display: flex;
  flex-direction: column;
  padding: 1vw;
  text-align: left;
}