@import "../../styles/global.scss";

#Header {
  height: 100%;
  padding: 0 15px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;

  @include xs {
    height: 10vh;
    align-items: center;
  }

  .navbarBrand {
    color: $white;
    align-items: center;
  }

  .navbarLinks {
    justify-content: space-evenly;
    align-items: center;
    max-width: 50vw;
  }

  .navbarTools {
    color: $white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .navbarButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
  }
}
