@import "../../styles/global.scss";

#Footer {
  background: $navy;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  min-height: 30vh;
  justify-content: center;
  align-items: center;

  @include xs {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
  }

  .logoTitle {
    font-size: 22px;
    color: $white;
    margin-right: 4vw;
  }

  .logoSubTitle {
    font-size: 18px;
    color: $white;
    display: flex;
    text-align: center;
  }

  .footerLogo {
    display: flex;
    justify-content: center;
    align-items: center;

    @include xs {
      justify-content: center;
      flex-direction: column;
    }
  }

  .footerDapps {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .footerDocumentation {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .footerLinks {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .footerContactUs {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .footerDirection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 60vw;
  }
}
